@model CreateResponsibleViewModel

@{
    ViewBag.Title = "Create Request";
}

<form asp-action="CreateResponsible" method="post" enctype="multipart/form-data">

    <section class="content">
        <div class="container-fluid">
            <!-- Input Group -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Authority Matrix Details
                            </h2>
                        </div>
                        <div class="body">
                            <input type="hidden" asp-for="CategoryHeaderId" />
                            <input type="hidden" asp-for="CreatedDateTime" />
                            <input type="hidden" asp-for="UpdatedById" />
                            <input type="hidden" asp-for="UpdatedDateTime" />
                            <input type="hidden" asp-for="DetailsId" />

                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=AuthorityDataNames.authorityMatrixName>Authority Matrix </label>
                                        <div class="form-line">
                                            <input type="text" asp-for=AuthorityDataNames.authorityMatrixName class="form-control" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=AuthorityDataNames.mainCategoryName>Main Category </label>
                                        <div class="form-line">
                                            <input type="text" asp-for=AuthorityDataNames.mainCategoryName class="form-control" disabled="disabled">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=AuthorityDataNames.activityName>Activity </label>
                                        <div class="form-line">
                                            <input type="text" asp-for=AuthorityDataNames.activityName class="form-control" disabled="disabled">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=AuthorityDataNames.detailsName>Details </label>
                                        <div class="form-line">
                                            <input type="text" asp-for=AuthorityDataNames.detailsName class="form-control" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <hr />
                            @*<div class="row clearfix">
                                <div class="button-demo">


                                <a asp-controller="Approval" asp-action="UserDetails" asp-route-id="@Model.AuthorityId" class="btn bg-warning waves-effect" type="button" title="Back">
                                Back
                                </a>
                                </div>
                                </div>*@

                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=AttachmentFile.FileName> File Name</label>
                                        <div class="form-line">
                                            <input asp-for=AttachmentFile.FileName class="form-control">
                                        </div>
                                        <span asp-validation-for="AttachmentFile.FileName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=AttachmentFile.File>File </label>
                                        <div class="form-line">
                                            <input asp-for=AttachmentFile.File class="form-control">
                                        </div>
                                        <span asp-validation-for="AttachmentFile.File" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=ResponsibleComments>Responsible Remarks </label>
                                        <div class="form-line">
                                            <textarea asp-for=ResponsibleComments class="form-control input-lg"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <hr />
                            <div class="row clearfix">
                                <div class="button-demo">
                                    <button class="btn bg-primary waves-effect" type="submit" title="Save">
                                        Save
                                    </button>

                                    <a asp-controller="Approval" asp-action="UserDetails" asp-route-id="@Model.AuthorityId" class="btn bg-warning waves-effect" type="button" title="Back">
                                        Back
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Input Group -->


    </section>
</form>

<!-- App scripts -->
<script src="~/styles/ww/plugins/jquery/jquery.min.js"></script>