@model CreateResponsibleViewModel

@{
    ViewBag.Title = "Create Request";
}

<form asp-action="CreateResponsible" method="post" enctype="multipart/form-data">
    <div class="container-fluid">

        <div class="row">
            <br />
            <br />
        </div>

        <div class="row">
            <ul>
                <li class="step show" id="step-1">
                    <div class="bar">

                        <h3>Create New Request</h3>
                        <div class="status"></div>
                    </div>

                    <div class="box">
                        <div class="field-holder">

                            <input type="hidden" asp-for="CategoryHeaderId" />
                            <input type="hidden" asp-for="CreatedDateTime" />
                            <input type="hidden" asp-for="UpdatedById" />
                            <input type="hidden" asp-for="UpdatedDateTime" />
                            <input type="hidden" asp-for="DetailsId" />

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for=AuthorityDataNames.authorityMatrixName>Authority Matrix </label>

                                    <input type="text" asp-for="AuthorityDataNames.authorityMatrixName" class="form-control input-lg" disabled="disabled" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for=AuthorityDataNames.mainCategoryName>Main Category </label>
                                    <input asp-for=AuthorityDataNames.mainCategoryName class="form-control input-lg" disabled="disabled" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for=AuthorityDataNames.activityName>activity </label>

                                    <input asp-for="AuthorityDataNames.activityName" class="form-control input-lg" disabled="disabled" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for=AuthorityDataNames.detailsName>Details </label>
                                    <textarea asp-for=AuthorityDataNames.detailsName class="form-control input-lg" required="required" disabled="disabled"></textarea>
                                </div>
                            </div>


                        </div>
                        <div class="btn-group pull-left row" id="divBackRecordButton">
                            <div class="form-group col-md-10" style="padding-left: 60px; padding-bottom: 20px">
                                <a asp-controller="Approval" asp-action="UserDetails" asp-route-id="@Model.AuthorityId" class="btn btn-primary m-b-md" type="button" title="Back">
                                    <span><i class="fa fa-arrow-left"></i>&nbsp;Back</span>
                                </a>

                            </div>
                        </div>
                    </div>
                </li>

                <br />

                <li class="step show" id="step-2">

                    <div class="bar">

                        <h3>Request Information</h3>
                        <div class="status"></div>

                    </div>

                    <div class="box">
                        <div class="field-holder">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="AttachmentFile.FileName">File Name </label>
                                    <i class="red">*</i>
                                    <br />
                                    <input type="text" asp-for="AttachmentFile.FileName" class="form-control input-lg" />
                                    <span asp-validation-for="AttachmentFile.FileName" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <label asp-for="AttachmentFile.FileName">File </label>
                                    <i class="red">*</i>
                                    <br />
                                    <input asp-for="AttachmentFile.File" class="form-control input-lg" />
                                    <span asp-validation-for="AttachmentFile.File" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for=ResponsibleComments>Responsible Remarks </label>
                                    <textarea asp-for=ResponsibleComments class="form-control input-lg"></textarea>
                                </div>
                            </div>

                        </div>

                        <div class="btn-group pull-right row" id="divSaveRecordButton">
                            <div class="form-group col-md-12" style="padding-right: 50px; padding-bottom: 20px">
                                <button class="btn btn-primary m-b-md" type="submit" title="Save" value="">
                                    <span><i class="fa fa-floppy-o"></i>&nbsp;Save</span>
                                </button>
                            </div>
                        </div>

                        <div class="btn-group pull-left row" id="divBackRecordButton">
                            <div class="form-group col-md-10" style="padding-left: 60px; padding-bottom: 20px">
                                <a asp-controller="Approval" asp-action="UserDetails" asp-route-id="@Model.AuthorityId" class="btn btn-primary m-b-md" type="button" title="Back">
                                    <span><i class="fa fa-arrow-left"></i>&nbsp;Back</span>
                                </a>

                            </div>
                        </div>
                    </div>

                    <br />

            </ul>

        </div>

    </div>
</form>
<!-- Vendor scripts -->
<script src="~/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="~/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/vendor/metisMenu/dist/metisMenu.min.js"></script>

<!-- App scripts -->
<script src="~/scripts/main.js"></script>

<script src="~/vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="~/vendor/sweetalert/lib/sweetalert2.min.js"></script>


<script>
    $(document).ready(function () {

        $('#ActivityId').select2({});
    });


</script>