
@model PC.Services.DL.ViewModels.LoginViewModel
@{ 
    Layout = "_LoginLayout"; 
}

 @*<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Loading</h1><img src="~/images/loading-bars.svg" width="64" height="64" /> </div> </div>*@

    <div class="login-container animated zoomInUp">
        <form asp-action="Login" autocomplete="off">
        <div class="row">
            <div class="col-md-12">
		        
                <div class="text-center m-b-md">
                     <img src="~/images/@config["AppSetting:ApplicationLogo"]" alt="My Operations" height="100">		
                    <h2>Login to your account</h2>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" asp-for="Username" for="username">Username</label>
                            <input type="text" asp-for="Username"  placeholder="Enter Username" title="Please enter you username" required="" value="" class="form-control input-lg ltrInput" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" asp-for="Password">Password</label>
                            <input type="password"  asp-for="Password"  title="Please enter your password" placeholder="******" required="" value="" name="password" class="form-control input-lg ltrInput" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" asp-for=a >How much is:</label>
                            <input asp-for=a class="form-control input-lg ltrInput" type="text" id="a" />
                            <label class="control-label" asp-for=result >Answer:</label>
                           <input asp-for=result class="form-control input-lg ltrInput" type="text" id="b" />
                        </div>
                    </div>
                    </div>
				    <div class="panel-footer">
                        <button type="submit" class="btn btn-info btn-lg btn-block loginbtn" > <i class="fa fa-sign-in fa-fw"></i> Login</button>
					</div>
                </div>
            </div>
            </form>
        </div>
        
        <div class="row">
            <div class="col-md-12 text-center">
            </div>
        </div>
 
        <script src="~/vendor/jquery/jquery.min.js"></script>
        @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    <script>

        $(document).ready(function () {
            
              debugger;
            var n1 = Math.round(Math.random() * 10 + 1);
            var n2 = Math.round(Math.random() * 10 + 1);
            $("#a").val(n1 + " + " + n2);
         
               
            var errorDialog = '<button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> <i class="fa fa-plus"></i> </button>' +
                            '<div class="collapse" id="collapseExample"><div class="well well-lg">dummy text</div></div>';

          
        });

         $(function () {
           

            $(".loginbtn").hover(
  function () {
      $(".loginbtn .fa").addClass('animated infinite fadeInLeft');
  },
  function () {
      $(".loginbtn .fa").removeClass('animated infinite fadeInLeft');
  });

            $(".loginbtn").click(function () {
                var $btn = $(this);
                $btn.button('loading');
                // simulating a timeout
                setTimeout(function () {
                    $btn.button('reset');
                }, 3000);
            });
        });

    </script>

   