@model PC.Services.DL.ViewModels.CategoryHeaderViewModel

@{
    ViewBag.Title = "Create Category Header";
}

<div class="container-fluid">

    <div class="row">
        <br />
        <br />
    </div>

    <div class="row">
        <ul>
            <form asp-controller="CategoryHeader" asp-action="Create" method="post">
            <li class="step show" id="step-1">
                <div class="bar">
                    <h3>Create Category Header</h3>
                    <div class="status"></div>

                </div>

                    @*<input type="hidden" asp-form="CategoryHeaderId">*@

                <div class="box">
                    <div class="field-holder">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="AuthorityId">Authority Matrix</label>
                                <i class="red">*</i>
                                <br />
                                <select asp-for="AuthorityId" class="form-control input-lg required" asp-items="ViewBag.AuthorityMatrix" required="required">
                                    <option>Select AuthorityMatrix</option>
                                </select>
                                <span asp-validation-for="AuthorityId" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="MainCategoryId">Main Category</label>
                                <i class="red">*</i>
                                <br />
                                <select asp-for="MainCategoryId" class="form-control input-lg required" asp-items="ViewBag.MainCategory" required="required" onchange="getActivity()">
                                    <option>Select Main Category</option>
                                </select>
                                <span asp-validation-for="MainCategoryId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="ActivityId">Activity</label>
                                <i class="red">*</i>
                                <br />
                                <select asp-for="ActivityId" name="ActivityId" class="form-control input-lg required" required="required" onchange="getDetails()">

                                    <option>Please Select Activity</option>
                                </select>
                                <span asp-validation-for="ActivityId" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="DetailsId">Details</label>
                                <i class="red">*</i>
                                <br />
                                <select asp-for="DetailsId" name="DetailsId" class="form-control input-lg required" required="required">

                                    <option>Please Select Details</option>
                                </select>
                                <span asp-validation-for="DetailsId" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="LevelCount">Work Flow Levels / Please Enter Number </label>
                                <i class="red">*</i>
                                <br />
                                <input type="number" asp-for="LevelCount" class="form-control input-lg required" required="required">

                                <span asp-validation-for="LevelCount" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="btn-group pull-right row" id="divSaveRecordButton">
                        <div class="form-group col-md-12" style="padding-right: 50px; padding-bottom: 20px">
                            <button class="btn btn-primary m-b-md" type="submit" title="Save" value="">
                                <span><i class="fa fa-floppy-o"></i>&nbsp;Save</span>
                            </button>
                        </div>
                    </div>

                    <div class="btn-group pull-left row" id="divBackRecordButton">
                        <div class="form-group col-md-10" style="padding-left: 60px; padding-bottom: 20px">
                            <a asp-controller="CategoryHeader" asp-action="Index" class="btn btn-primary m-b-md" type="button" title="Back">
                                <span><i class="fa fa-arrow-left"></i>&nbsp;Back</span>
                            </a>

                        </div>
                    </div>
                </div>
            </li>
            </form>
            <br />

        </ul>


    </div>

</div>

<!-- Vendor scripts -->
<script src="~/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="~/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/vendor/metisMenu/dist/metisMenu.min.js"></script>

<!-- App scripts -->
<script src="~/scripts/main.js"></script>

<script src="~/vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="~/vendor/sweetalert/lib/sweetalert2.min.js"></script>


<script type="text/javascript">
     $(document).ready(function () {

        $('#MainCategoryId').select2({});
        $('#ActivityId').select2({});
        $('#DetailsId').select2({});

        $('#LevelUser').select2({});
        $('#LevelRole').select2({});

        getDetails();
        getActivity();

    });


</script>