<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title | @config["AppSetting:ApplicationName"]</title>
    <!-- Favicon-->
    <link rel="shortcut icon" type="image/png" href="~/images/@config["AppSetting:ApplicationLogo"]" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/styles/ww/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/styles/ww/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/styles/ww/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/styles/ww/css/style.css" rel="stylesheet">

    <!-- JQuery DataTable Css -->
    <link href="~/styles/ww/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- Morris Chart Css-->
    <link href="~/styles/ww/plugins/morrisjs/morris.css" rel="stylesheet" />







    <!-- Wait Me Css -->
    <link href="~/styles/ww/plugins/waitme/waitMe.css" rel="stylesheet" />

    <!-- Dropzone Css -->
    <link href="~/styles/ww/plugins/dropzone/dropzone.css" rel="stylesheet">

    <!-- Multi Select Css -->
    <link href="~/styles/ww/plugins/multi-select/css/multi-select.css" rel="stylesheet">

    <!-- Bootstrap Spinner Css -->
    <link href="~/styles/ww/plugins/jquery-spinner/css/bootstrap-spinner.css" rel="stylesheet">

    <!-- Bootstrap Tagsinput Css -->
    <link href="~/styles/ww/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- Bootstrap Select Css -->
    <link href="~/styles/ww/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/styles/ww/css/themes/all-themes.css" rel="stylesheet" />

    <link href="~/NToast/NToast.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/vendor/select2-3.5.2/select2.css" />
    @*<link rel="stylesheet" href="~/vendor/select2-bootstrap/select2-bootstrap.css" />*@

    <script src="~/vendor/jquery/dist/jquery-3.4.1.js"></script>
    @*<script src="~/vendor/jquery/dist/jquery.js"></script>*@

    <!-- Sweetalert2 -->
    <link rel="stylesheet" href="~/vendor/sweetalert/lib/sweetalert2.css" />
</head>


@*<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Page title -->
    <title>@ViewBag.Title - @config["AppSetting:ApplicationName"]</title>

    <link rel="shortcut icon" type="image/png" href="~/images/@config["AppSetting:ApplicationLogo"]" />

    <!-- Vendor styles -->
    <link rel="stylesheet" href="~/vendor/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/vendor/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="~/vendor/animate.css/animate.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/sweetalert/lib/sweetalert2.css" />
    <link rel="stylesheet" href="~/vendor/datatables/dt/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendor/datatables/dt/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/vendor/select2-3.5.2/select2.css" />
    <link rel="stylesheet" href="~/vendor/select2-bootstrap/select2-bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/vendor/datatables_plugins/integration/bootstrap/3/dataTables.bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/toastr/build/toastr.min.css" />

    <!-- App styles -->
    <link rel="stylesheet" href="~/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="~/styles/style.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />

    <link href="~/NToast/NToast.css" rel="stylesheet" />

    <!-- Sweetalert2 -->
    <link rel="stylesheet" href="~/vendor/sweetalert/lib/sweetalert2.css" />
    </head>*@