@model PC.Services.Core.Models.Details

@{
    ViewBag.Title = "Details Activity";
}

<form asp-action="Edit" method="post">

    <section class="content">
        <div class="container-fluid">
            <!-- Input Group -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Update Details
                            </h2>
                        </div>
                        <div class="body">

                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">

                                        <label asp-for="Name"></label>
                                        <div class="form-line">
                                            <input type="text" asp-for="Name" class="form-control" placeholder="Details Name">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for="ActivityId"></label>
                                        <div class="form-line">
                                            <select asp-for="ActivityId" class="form-control show-tick" data-live-search="false" asp-items="ViewBag.Activity" required="required">

                                                <option>Select Activity</option>
                                            </select>
                                            <span asp-validation-for="ActivityId" class="text-danger"></span>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="row clearfix">
                                <div class="button-demo">
                                    <button class="btn bg-primary waves-effect" type="submit" title="Save">
                                        Save
                                    </button>

                                    <a asp-action="Index" class="btn bg-warning waves-effect" type="button" title="Back">
                                        Back
                                    </a>
                                </div>

                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Input Group -->


    </section>
</form>

<!-- App scripts -->
<script src="~/styles/ww/plugins/jquery/jquery.min.js"></script>